<footer class="bg-success bg-faded footer">
	<div class="container" style="padding: 10px;">
		<div class="row">
			<div class="col-lg-3 mytext">
				Eye
				<br>
			</div>
			<div class="col-lg-6">
				<small class="mytext">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </small>
			</div>
			<div class="col-lg-3">
				<small>
					<a class="mytext" href="#">About</a><br>
					<a class="mytext" href="#">Help</a><br>
					<a class="mytext" href="#">Plans</a><br>
					<a class="mytext" href="#">Product</a><br>
					<a class="mytext" href="#">Share</a><br>
				</small>
			</div>
  		</div>
	</div>
</footer>
