<nav class="navbar navbar-dark bg-success">
	<div class="container">
		<div class="row">
			<div class="col-auto mr-auto">
				<a class="navbar-brand" href="/">
					<h2 class="display-4">Eye</h2>
				</a>
			</div>
		</div>
		<div class="row">
		</div>
	</div>
</nav>
<br>
<br>